# Umme ubaiyat Chowdhury
DS3

**In this task you should use Pandas to answer a few questions about the Adult Dataset(provided).

Unique values of all features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult_csv.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
# You code here
data['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
#DataFrame.loc[] method is a method that takes only index labels and returns row or dataframe if the index label 
#exists in the caller data frame.
round(data.loc[data['sex'] == 'Female', 'age'].mean(),3)

1.604

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
# You code here
(((data['native-country']=='Germany').sum()) / data.shape[0])*100

0.421768150362393

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
# You code here
print('Mean of age for those who earn more than 50K:', data.loc[data['class'] == '>50K', 'age'].mean())
print('Standard Deviation of age for those who earn more than 50K:', data.loc[data['class'] == '>50K', 'age'].std())
print('Mean of age for those who earn less than 50K:', data.loc[data['class'] == '<=50K','age'].mean())
print('Standard Deviation of age for those who earn less than 50K:', data.loc[data['class'] == '<=50K', 'age'].std())

Mean of age for those who earn more than 50K: 2.3460254984170446
Standard Deviation of age for those who earn more than 50K: 1.010075584122801
Mean of age for those who earn less than 50K: 1.5902301170771094
Standard Deviation of age for those who earn less than 50K: 1.3222117421838715

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
# You code here
data.loc[data['class'] == '>50K', 'education'].unique()

#or
#high_sal = data[data['class'] == '>50K']['education'].value_counts()
#or
#h_edu = [ 'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
#nh_edu= ['Some-college', '11th', 'HS-grad','9th', '7th-8th', '12th','1st-4th', '10th','5th-6th', 'Preschool']

#data.loc[data['class'] == '>50K','education'].isin(edu_hs).all()
#data.loc[data['class'] == '>50K', 'education'].isin(edu_uhs).all()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th', 'Preschool'],
      dtype=object)

Its not true that people who earn more than 50k sal have atleast high school education.

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
# You code here
data.groupby(['race','sex'])['age'].describe()

                             count      mean       std  min  25%  50%  75%  \
race               sex
Amer-Indian-Eskimo Female    185.0  1.583784  1.274651  0.0  1.0  1.0  3.0
                   Male      285.0  1.603509  1.135528  0.0  1.0  1.0  2.0
Asian-Pac-Islander Female    517.0  1.481625  1.211281  0.0  0.0  1.0  2.0
                   Male     1002.0  1.782435  1.197137  0.0  1.0  2.0  3.0
Black              Female   2308.0  1.712738  1.240228  0.0  1.0  2.0  3.0
                   Male     2377.0  1.711822  1.254554  0.0  1.0  2.0  3.0
Other              Female    155.0  1.090323  1.107048  0.0  0.0  1.0  2.0
                   Male      251.0  1.454183  1.156241  0.0  1.0  1.0  2.0
White              Female  13027.0  1.595839  1.352648  0.0  0.0  1.0  3.0
                   Male    28735.0  1.874230  1.273180  0.0  1.0  2.0  3.0

                           max
race               sex
Amer-Indian-Eskimo Female  4.0
                   Male    4.0
Asian-Pac-Islander Female  4.0
                   Male    4.0
Black              Female  4.0
                   Male    4.0
Other              Female  4.0
                   Male    4.0
White              Female  4.0
                   Male    4.0

The maximum age of men of Amer-Indian-Eskimo race: 4.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
# You code here
married_dt=data[(data['class'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].str.contains("Married"))]['marital-status'].count()
single_dt= data[(data['class'] == '>50K') & (data['sex'] == 'Male') & (~data['marital-status'].str.contains("Married"))]['marital-status'].count()
print("Married Men earn more than 50k:",married_dt)
print("Single Men earn  more than 50k:",single_dt)
if (married_dt > single_dt):
    print ("Married men have a higher proportion than singles men who earn more than 50K")
else:
    print ("singles men have a higher proportion than Married men who earn more than 50K")

Married Men earn more than 50k: 8917
Single Men earn  more than 50k: 1001
Married men have a higher proportion than singles men who earn more than 50K

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [10]:
# You code here
max_hr=data['hoursperweek'].max()
print("The max number of hours a person works is:",max_hr)
people = data[data['hoursperweek']==4]['hoursperweek'].count()
print("Total num of people who work for",max_hr,"hours is:",people)
perecntg_more= ((data[(data['class'] == '>50K') & (data['hoursperweek']==4)]['hoursperweek'].count()) / people)*100
print("Percentage of people who earn more than 50K and work 4 hours a week is" , round (perecntg_more, 3) , "%" )

The max number of hours a person works is: 4
Total num of people who work for 4 hours is: 1676
Percentage of people who earn more than 50K and work 4 hours a week is 35.74 %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [11]:
# You code here
data.groupby(['class','native-country'])['hoursperweek'].describe()

                         count      mean       std  min  25%  50%  75%  max
class native-country
<=50K Cambodia            19.0  2.052632  0.229416  2.0  2.0  2.0  2.0  3.0
      Canada             119.0  1.739496  1.037126  0.0  1.0  2.0  2.0  4.0
      China               86.0  1.674419  0.900220  0.0  1.0  2.0  2.0  3.0
      Columbia            81.0  1.827160  0.738074  0.0  2.0  2.0  2.0  4.0
      Cuba               104.0  1.884615  0.804208  0.0  2.0  2.0  2.0  4.0
...                        ...       ...       ...  ...  ...  ...  ...  ...
>50K  Thailand             5.0  3.000000  0.707107  2.0  3.0  3.0  3.0  4.0
      Trinadad&Tobago      2.0  2.000000  0.000000  2.0  2.0  2.0  2.0  2.0
      United-States    10694.0  2.334113  0.759073  0.0  2.0  2.0  3.0  4.0
      Vietnam              7.0  2.000000  0.000000  2.0  2.0  2.0  2.0  2.0
      Yugoslavia           8.0  2.250000  1.164965  0.0  2.0  2.0  3.0  4.0

[81 rows x 8 columns]

In [12]:
jp=data[data['native-country'] == "Japan"].groupby(['native-country', 'class'])['hoursperweek'].count()
print('Average time of work for Japan:\n', jp)

Average time of work for Japan:
 native-country  class
Japan           <=50K    60
                >50K     32
Name: hoursperweek, dtype: int64