In [1]:
name = ["Jogesh", "Mithun", "Zelo", "Kohli"]
name

['Jogesh', 'Mithun', 'Zelo', 'Kohli']

In [2]:
age = [18, 25, 17, 16]
age

[18, 25, 17, 16]

In [3]:
country = ["Finland", "New Zealand", "India", "Finland"]
country

['Finland', 'New Zealand', 'India', 'Finland']

In [5]:
def students(age, country):
    for i in age:
        if i > 18:
            print(i)
    for i in country:
        if i == "Finland":
            print(i)

In [6]:
students(age, country)

25
Finland
Finland

In [7]:
def adder(x, y):
    return x + y

In [8]:
adder(10,20)

30

# Functions without Arguments

In [14]:
# Shift + Tab
print("Python Programming", end = " -- ")
print("Java")

Python Programming -- Java

In [11]:
adder()

TypeError: adder() missing 2 required positional arguments: 'x' and 'y'

In [15]:
def greeting():
    return f"Welcome to Python Programming"

In [16]:
greeting()

'Welcome to Python Programming'

In [18]:
import math
math.pi

3.141592653589793

In [17]:
greeting()

'Welcome to Python Programming'

# Functions with Arguments

In [19]:
def greeting(name):
    return f'Welcome to Python Programming {name}'

In [20]:
greeting("Bezos")

'Welcome to Python Programming Bezos'

In [23]:
name

['Jogesh', 'Mithun', 'Zelo', 'Kohli']

In [24]:
for i in name:
    print(greeting(i))

Welcome to Python Programming Jogesh
Welcome to Python Programming Mithun
Welcome to Python Programming Zelo
Welcome to Python Programming Kohli

In [26]:
def calculator():
    ops = int(input("Addition = 1 | Subtraction = 2 | Multiplication = 3 | Division = 4"))
    x = eval(input('Please enter a Number for X: '))
    y = eval(input('Please enter a Number for Y: '))
    
    if ops == 1:
        return f'Addition of {x} and {y} is {x + y}'
    elif ops == 2:
        return f'Subtraction of {x} and {y} is {x - y}'
    elif ops == 3:
        return f'Multiplication of {x} and {y} is {x * y}'
    else:
        return f'Division of {x} and {y} is {x / y}'

In [30]:
calculator()

Addition = 1 | Subtraction = 2 | Multiplication = 3 | Division = 44
Please enter a Number for X: 100
Please enter a Number for Y: 25

'Division of 100 and 25 is 4.0'

In [31]:
x = eval(input('Please enter a Number for X: '))
y = eval(input('Please enter a Number for Y: '))

def calculator(x,y):

    ops = int(input("Addition = 1 | Subtraction = 2 | Multiplication = 3 | Division = 4"))
    
    if ops == 1:
        return f'Addition of {x} and {y} is {x + y}'
    elif ops == 2:
        return f'Subtraction of {x} and {y} is {x - y}'
    elif ops == 3:
        return f'Multiplication of {x} and {y} is {x * y}'
    else:
        return f'Division of {x} and {y} is {x / y}'

Please enter a Number for X: 120
Please enter a Number for Y: 124

In [32]:
calculator(x,y)

Addition = 1 | Subtraction = 2 | Multiplication = 3 | Division = 41

'Addition of 120 and 124 is 244'

# Functions with Multiple Arguments

In [34]:
def greeting(*names):
    for i in names:
        print('Welcome to the Disneyland', i)

In [40]:
import random
import string
name = [string.ascii_uppercase[i] for i in range(10)]

In [41]:
name

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [43]:
greeting('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J')

Welcome to the Disneyland A
Welcome to the Disneyland B
Welcome to the Disneyland C
Welcome to the Disneyland D
Welcome to the Disneyland E
Welcome to the Disneyland F
Welcome to the Disneyland G
Welcome to the Disneyland H
Welcome to the Disneyland I
Welcome to the Disneyland J

In [44]:
def addition(*nums):
    a = 0
    for i in nums:
        a += i
    return a

In [46]:
addition(42, 92, 15, 46, 96, 49, 88, 100, 57, 17)

602

# Functions with Multiple Keyword Arguments

In [47]:
def welcome(name, bold = True):
    if bold:
        return f'Welcome to Greycampus, {name.capitalize()}'
    else:
        return f'Welcome to Greycampus, {name.lower()}'

In [48]:
welcome("jogesh")

'Welcome to Greycampus, Jogesh'

In [49]:
welcome("Meneno", bold = False)

'Welcome to Greycampus, meneno'

In [51]:
def employee_info(**info):
    return f"{info['Name']} is working at {info['Company']} with {info['Exp']} years of Experience"

In [52]:
employee_info(Name = "Prakash", Company ="Google", Exp = 10)

'Prakash is working at Google with 10 years of Experience'

In [53]:
employee_info(Name = "Prakash", Exp = 10)

KeyError: 'Company'

In [54]:
employee_info(Name = "Prakash", Company ="Google", Exp = 10, Age = 45, Ed = "Masters")

'Prakash is working at Google with 10 years of Experience'

# Scope of a Function

In [55]:
a = "Meneno"

def greeting():
    return f'Welcome to GreyCampus {a}'

In [57]:
greeting()

'Welcome to GreyCampus Meneno'

In [59]:
def greeting():
    m = "Meneno"
    return f'Welcome to Python Programming {m}'

In [60]:
greeting()

'Welcome to Python Programming Meneno'

In [61]:
m

NameError: name 'm' is not defined

In [62]:
def greeting():
    global m
    m = "Meneno"
    return f'Welcome to Python Programming {m}'

In [63]:
greeting()

'Welcome to Python Programming Meneno'

In [64]:
m

'Meneno'

# Classes

<img src =https://s3.envato.com/files/241356037/house-img.JPG width=600>

# Objects

<img src = https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg width = 500>

# Classes & Objects

In [69]:
class employee:
    
    com = "GreyCampus"
    
    def greeting(self):
        return 'Welcome to Python Programming'

In [70]:
# Instances

emp = employee()

print('Company of the Employee is', emp.com)
print('Greeting from the Company\n', emp.greeting())

Company of the Employee is GreyCampus
Greeting from the Company
 Welcome to Python Programming

In [76]:
class students:
    
    s1 = "Meneno"
    s2 = "Jogesh"
    s3 = "Mark"
    
    def greeting(self):
        return 'Welcome to Python Programming'
        
    def calculator(self):
        x = eval(input('Please enter X: '))
        y = eval(input('Please enter Y: '))
        
        ops = int(input("1.Add | 2.Sub | 3.Mul | 4. Div | 5.Pow"))
        
        if ops == 1:
            return f'Addition of {x} and {y} is {x + y}'
        elif ops == 2:
            return f'Subtraction of {x} and {y} is {x - y}'
        elif ops == 3:
            return f'Multiplication of {x} and {y} is {x * y}'
        elif ops == 4:
            return f'Division of {x} and {y} is {x / y}'
        else:
            return f'Power of {x} and {y} is {x ** y}'

In [77]:
stu = students()

print('Name of the First Student is', stu.s1)
print('Name of the Second Student is', stu.s2)
print('Name of the Third Student is', stu.s3, '\n')

print(stu.greeting())
print(stu.calculator())

Name of the First Student is Meneno
Name of the Second Student is Jogesh
Name of the Third Student is Mark

Welcome to Python Programming
Please enter X: 15
Please enter Y: 12
1.Add | 2.Sub | 3.Mul | 4. Div | 5.Pow4
Division of 15 and 12 is 1.25

# The Self Method

In [84]:
class employee:
    
    com = "Apple Incorporations"
    
    def greeting(self):
        return 'Welcome to Python Programming'

In [85]:
emp = employee()
print(emp.com)

Apple Incorporations

In [86]:
emp.greeting()

'Welcome to Python Programming'

In [88]:
emp2 = employee()
emp2.com

'Apple Incorporations'

In [89]:
emp2.greeting()

'Welcome to Python Programming'

# Contructors/Instantiators

In [90]:
class employee:
    
    com = "Greycampus"
    
    def greeting(self):
        return f'Welcome to Python Programming, {com}'

In [91]:
emp = employee()
emp.greeting()

NameError: name 'com' is not defined

In [92]:
class employee:
    
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
     
    def welcome(self):
        return f'{self.name} is a {self.gender} is working at the age of {self.age}'

In [95]:
emp = employee("Meneno", 28, "Male")
print('Name of the Employee', emp.name)
print('Age of the Employee', emp.age)
print('Gender of the Employee', emp.gender)
emp.welcome()

Name of the Employee Meneno
Age of the Employee 28
Gender of the Employee Male

'Meneno is a Male is working at the age of 28'

# Inheritance

In [6]:
class parent:
    
    def __init__(self, n, a, g):
        self.name = n
        self.age = a
        self.gender = g
        
    def welcome(self):
        return f'Welcome to Python Programming'
    
    def custom(self):
        return f'{self.name} is a {self.gender}, who is working at the age of {self.age}'

class child(parent):
    pass

In [7]:
p = parent("Virat", 28, "Male")
print(p.name)
print(p.age)
print(p.gender)
print(p.welcome())
print(p.custom())

Virat
28
Male
Welcome to Python Programming
Virat is a Male, who is working at the age of 28

In [9]:
ch = child("Meneno", 28, "Male")
print(ch.name)
print(ch.gender)
print(ch.age)
print(ch.welcome())
print(ch.custom())

Meneno
Male
28
Welcome to Python Programming
Meneno is a Male, who is working at the age of 28

# Polymorphism

In [17]:
len("Python")

6

In [18]:
len([1,2,1,111,21, "Python"])

6

In [19]:
10 + 20

30

In [20]:
"Python " + "Programming"

'Python Programming'

In [21]:
class BMW:
    
    company = "British Motors"
    
    def greeting(self):
        return 'Welcome to British Motors'

In [22]:
class AUDI:
    
    company = "Audi Motors Germany"
    
    def greeting(self):
        return 'Welcome to Audi Motors Germany'

In [23]:
class TATA:
    
    company = "Tata Motors Capital"
    
    def greeting(self):
        return 'Welcome to Tata Motors Capital'

In [24]:
bmw = BMW()
audi = AUDI()
tata = TATA()

for i in (bmw, audi, tata):
    print('Company:', i.company)
    print('Greeting:', i.greeting(), '\n')

Company: British Motors
Greeting: Welcome to British Motors

Company: Audi Motors Germany
Greeting: Welcome to Audi Motors Germany

Company: Tata Motors Capital
Greeting: Welcome to Tata Motors Capital

# Method Overriding

In [27]:
class employee:
    
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def greeting(self):
        return f'{self.name} is a {self.gender} working at the age of {self.age}'
    
class salary(employee):
    
    def greeting(self):
        return "Welcome to Python Programming"

In [30]:
emp = employee("Meneno", 28, "Male")
print(emp.name)
print(emp.age)
print(emp.gender)
print(emp.greeting())

Meneno
28
Male
Meneno is a Male working at the age of 28

In [29]:
sal = salary("Meneno", 28, "Male")
print(sal.name)
print(sal.age)
print(sal.gender)
print(sal.greeting())

Meneno
28
Male
Welcome to Python Programming